<h3>Paste in a link to a storify html page</h3>
<p> example: http://storify.com/joshuabaer/austin-startup-digest-for-january-27-2014</p>
<form action="/" method="post">
  <input type="text" name="storify">
  <input type="submit">
</form>

<p>Created by <a href="http://twitter.com/snapesto">@snapesto</a></p>